/*
* If YAWIK.bundled=true, the modules will be included in the tgz/zip package
*/
YAWIK.bundled=false

/*
* Put a PIWIK Code into the partial
*/
yawik.demoskin.piwik=../view/piwik.phtml



/**
 * Notifications about new entered jobs are sent to the address
 */
approvalMail=test@example.com

/**
* Name of the company.
*/
imprint_company_fullname=YourCompany Name AG
imprint_company_name=YourCompany
imprint_company_fat=EU-XXX
imprint_company_zip=99999
imprint_company_city=Testcity



imprint_person_name=Peter Mustermann
imprint_person_email=test@exanmple.com
imprint_person_phone=0815-4711
imprint_person_fax=0815-4711

/**
* piwik_opt_out
*/
piwik_opt_out=<!-- See http://piwik.org/docs/privacy/#step-3-include-a-web-analytics-opt-out-feature-on-your-site-using-an-iframe -->
